<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/partials.html :: head('Create Post')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<form action="/posts/create" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Enter title of post">
    <br>
    <label for="body">Body</label>
    <input type="text" id="body" name="body" placeholder="Post body">
    <br>
    <button type="submit">Submit</button>
</form>
<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>