<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Login')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and/or Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Log In</button>
</form>
<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>