<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Choose your side')">
</head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<h1>Guess a Number</h1>
<form th:action="@{/roll-dice/1}" th:method="POST">
    <button id="one" name="guess" value="1">One</button>
</form>
<form th:action="@{/roll-dice/2}" th:method="POST">
    <button id="two" name="guess" value="2">Two</button>
</form>
<form th:action="@{/roll-dice/3}" th:method="POST">
    <button id="three" name="guess" value="3">Three</button>
</form>
<form th:action="@{/roll-dice/4}" th:method="POST">
    <button id="four" name="guess" value="4">Four</button>
</form>
<form th:action="@{/roll-dice/5}" th:method="POST">
    <button id="five" name="guess" value="5">Five</button>
</form>
<form th:action="@{/roll-dice/6}" th:method="POST">
    <button id="six" name="guess" value="6">Six</button>
</form>
<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>